@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm px-1 w-full py-2 px-3;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-gray-800 mb-4 text-xl;
}

label {
  @apply text-gray-600 text-sm;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2 text-left;
}

table.basic tr td {
  @apply px-4 py-2;
}

table.basic tr.even {
  @apply bg-gray-100;
}

table.basic tr.odd {
  @apply bg-white;
}

table.basic .recipient-info {
  @apply font-medium;
}

table.basic .recipient-info .name {
  @apply mb-2;
}

table.basic .recipient-info .contact-info {
  @apply text-sm text-gray-600;
}

table.basic .product-info {
  @apply flex items-center;
}

table.basic .product-info .name {
  @apply mr-2;
}

table.basic .product-info .quantity {
  @apply text-sm text-gray-600;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}

@media (max-width: 640px) {
  input,
  textarea,
  select {
    @apply py-2 px-2;
  }

  h1 {
    @apply text-2xl;
  }

  .btn-primary,
  .btn-default,
  .btn-red {
    @apply py-2 px-3;
  }
}
